.navside22{
    width: 23%;
    /* display: flex; */
}

.font-sicew{
    font-size: 15px ;
}
.socialmedia-icons-div img{
    width: 15px;
}
.font-color11{
    font-size: 13px;
    font-weight: 500;
    color: rgb(56, 55, 55);
}
.contentmain{
    width: 77%;
    margin-left: 23%;
}
.about-potos-ad-div{
    /* object-fit: fill; */
    overflow: hidden;
    height: 100vh;
    background-size: cover;
    /* background-color: #DE2A1B; */
    
}
.nav-modal {
    background: white;
    z-index: 1030;
    position: absolute;
    min-height: 100vh;
    position: fixed ;
}
.about-logo-text{
    color: white;
    font-size: 5.5vw;
    letter-spacing: 0.3em;
    font-family: PlayfairDisplay;
    position: absolute;
}
.quick-button{
    font-size: 13px;
    background-color: black;
    color: white;
    border: none;
    padding:10px 15px;
}
.positionsmain{
    left:  5%;
    bottom: 0px;
}
.img-conatiner-ab{
    width: 45%;
}
.textinab{
    font-size: 14px;
    color: rgb(104, 103, 103);
}
.texteventhead{
    font-size: 17px;
    font-family: monospace;
    color: #DE2A1B;
}
.conatinerofsecond{
    width: 47%;
}
.nisham{
    top: 800px;
    position: static !important;
    position: absolute !important;
}


@keyframes slow-zoom {
    100% {
      transform: scale(.21);
    }
    100% {
      transform: scale(1.2);
    }
  }
  
  .img1 {
    animation: slow-zoom 10s infinite alternate;
    height: 100%;
    width: 100% !important;
  }
  .footbackcolor{
    background-color: black;
    padding: 40px 0px;
    width: 97.2%;
    margin-left: 25px;


  }

  .footclass{
    color: #DE2A1B;
    font-size: 15px;
    font-family: monospace;
  }
  .footclass1{
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-family: monospace;

  }
  .backadditional{
    background: url("https://i.pinimg.com/originals/0b/4b/dd/0b4bdd4a50436832bf5c52527e3f8217.jpg");
    padding: 30px;
    width: 95%;
    margin-left: 25px;
    margin-top: 80px;
    
  }
  

  @media(max-Width:768px){
    .navside22{
        width: 23%;
        display: none !important;
    }
    .contentmain{
        width: 100%;
        margin-left: 0%;
        

    }
    .about-potos-ad-div {
    object-fit: cover;
    overflow: hidden !important;
    height: 70vh;
    width: 100%;
}
.positionsmain{
    left:  50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px    ;
}
.conatinerofsecond{
    width: 95%;
}
.img-conatiner-ab{
    width: 95%;
}
.footbackcolor{
    background-color: black;
    padding: 40px 0px;
    width: 100%;
    margin-left:0px;
    display: flex;
    flex-direction: column;
    align-items: center;


  }
  .backadditional{
    background: url("https://i.pinimg.com/originals/0b/4b/dd/0b4bdd4a50436832bf5c52527e3f8217.jpg");
    padding: 30px;
    width: 100%;
    margin-left: 0px;
    margin-top: 80px;
    
  }

}


.logo-div {
    /* background-color: rgb(116, 116, 62); */
    /* flex: 1; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999 ;
    position: absolute;
}
